<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= title %> </title>
  <h1>Here is a list of Directors</h1>
</head>
<body>
 <ul>
  <% director.forEach((item) => { %>
  <li>
    <a href="/directors/<%= item.id %>"> <%= item.name %> </a>
    <a href="/directors/<%= item.id %>/edit"> <span>&#x270e;</span></a>
  </li>
  <% }); %>
</ul>


</body>
</html>
