<div class="container">
  <form action="<%='/directors/new' %>" method="POST">
    <label>Enter a director</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
</div>
