<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/movies" method="POST">
        <label>
            Movie Title:
            <input type="text" name="title" />
        </label>
        <label>
            Movie Synopsis:
            <input type="text" name="synopsis" />
        </label>
        <input type="submit" />

    </form>
  </body>
</html>
